header{
    background: linear-gradient(135deg,#ff7e5f,#feb47b);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    justify-self: center;
}
main{
  
    transform: scale(1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg,#ff7e5f,#feb47b);
}